# Ambiente Virtual
venv/
.venv/

# Arquivos de Cache do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Arquivos de configuração de IDEs
.vscode/
.idea/

# Arquivos de dependências (opcional, mas bom)
*.egg-info/